.DS_Store

.env.mapper
.env.geolocator

src/

volumes/cleaner/csv/*.csv
volumes/cleaner/output/*.csv
volumes/cleaner/output/*.txt

volumes/geolocator/data/*.csv
volumes/geolocator/data/worker_data/*.csv
volumes/geolocator/data/worker_processed/*.csv
volumes/geolocator/output/analysis/*.csv
volumes/geolocator/output/analysis/*.xlsx
volumes/geolocator/output/charts/*.png
